html {
   min-height: 2048px;
}

body {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

* {
   text-align: center;
   color: goldenrod;
}

.bgimg {
   border: 0;
   padding: 0;
   background-image: url('/images/bg_image_2.jpg');
   background-position: 0% 50%;
   background-size: cover;
   background-repeat: no-repeat;
}

ul {
   display: flex;
   flex-direction: column;
   align-items: center;
}

ul>li {
   margin-bottom: 10px;
}

form>textarea {
   min-width: 30%;
   min-height: 300px;
}

.div_block {
   display: flex;
   overflow: auto;
   flex-basis: 30%;
   flex-grow: 1;
}

.form_create>* {
   color: black;
}

.form_update>* {
   color: black;
}

.form_login {
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.form_login>* {
   color: black;
   margin-bottom: 5px;
}

.div_pageDesc {
   white-space: pre-line;
   color: black;
}